.servicesContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
}

.marginH {
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: stretch;
}
.highlightText {
    font-size: 1.5rem;
    font-weight: bold;
}
.comText {
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 2rem;
    width: 80%;
    font-weight: bold;
}
.divider {
    width: 1px;
    align-self: stretch;
    background-color: var(--secondary);
    margin: 1rem;
}
@media (max-width: 900px) {
    .servicesContainer {
        flex-direction: column;
    }
    .marginH {
        margin-top: 1rem;
    }
    .divider {
        height: 1px;
        width: 100%;
        align-self: inherit;
        margin: 0;
    }
}
.displayWithFade1, .displayWithFade2, .displayWithFade3 {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.displayWithFade1 {
    animation-delay: 0.5s;
}
.displayWithFade2 {
    animation-delay: 1s;
}
.displayWithFade3 {
    animation-delay: 1.5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

