.section {
    display: flex;
    padding-bottom: 2rem;
    margin-top: -2rem;
}

.cardContainer {
    display: flex;
    flex: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem;
    flex-direction: column;
}
