.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 2rem;
  border-radius: var(--border-radius);
  background-color: var(--card);
  border: 1px solid rgba(var(--card-border-rgb), 1);
  transition: background 200ms, border 200ms;
}

.sectionTitle {
  font-weight: bold;
  font-size: 1.5rem;
}
/* Mobile */
@media (max-width: 900px) {
}
