.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 2rem;
  border-radius: var(--border-radius);
  background-color: var(--card);
  border: 1px solid rgba(var(--card-border-rgb), 1);
  transition: background 200ms, border 200ms;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  color: var(--secondary);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

/* Mobile */
@media (max-width: 900px) {
}
